.bg-{
    &purple{
        background-color: #733FC8;
    }
    &gray{
        background-color: #49556B;
    }
    &dark{
        background-color: #18202D;
    }
}


.bg-{
    &navy{
        background-color: navy;
    }
    &cyan{
        background-color: cyan;
    }
    &golden {
        background-color: gold;
    }
    &magenta {
        background-color: magenta;
    }
    &yellow {
        background-color: yellow;
    }

}